.container-woonies {
  margin: 0 auto;
}

#mini-banner {
  background-color: $dark-blue;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  h2 {
    font-size: 32px;
    color: white;
  }
}

#birds {
  position: absolute;
  bottom: 124px;
  left: 160px;
}

.home-content {
  h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  p {
    text-align: center;
    font-size: 17px;
    opacity: 0.8;
  }
}

.home-content-details {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  grid-gap: 20px;
  h3 {
    font-weight: bold;
    font-size: 21px;
  }
  p {
    font-size: 16px;
  }
}

.parents {
  h3, p {
    font-weight: bold;
    text-align: right;
    opacity: 1;
  }
}

.pro {
  margin-right: 150px;
  h3, p {
    text-align: left;
    opacity: 1;
  }
}

#magazine {
  margin-left: 200px;
}

.home-content-search {
  display: flex;
}

.home-content-button {
  background-color: $dark-blue;
  color: white;
  font-size: 15px;
  border: none;
  padding: 10px;
}

#inscription-button {
  border-radius: 8px;
  width: 150px;
  margin-left: 25px;
}

#email-button {
  border-radius: 0 8px 8px 0;
  width: 140px;
}

#email-input {
  font-size: 16px;
  border-radius: 8px 0 0 8px;
  border: none;
  padding: 10px;
  width: 475px;
  margin-left: 200px;
  &::placeholder {
    color: $dark-blue;
  }
}
