<div class="container-woonies">
  <%= render 'shared/navbar' %>
  <div id="banner-woonies">
    <div id="banner-woonies-elements">
      <h1>Trouvez votre mode d'accueil pour votre enfant !</h1>
      <p>Crèches, micro-crèches, haltes-garderies, assistant(e)s maternel(le)s.</p>
      <p id="p2-banner">Entrez une adresse autour de laquelle vous souhaitez recherche votre mode d’accueil.</p>
      <form action="" class="form-inline banner-form">
        <div class="input-and-image">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.6802 17.9071C9.38923 18.2702 6.96231 17.5689 5.1967 15.8033C2.26777 12.8744 2.26777 8.12563 5.1967 5.1967C8.12563 2.26777 12.8744 2.26777 15.8033 5.1967C18.7322 8.12563 18.7322 12.8744 15.8033 15.8033V15.8033" stroke="#FFCFC5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M21 21L15.8 15.8" stroke="#FFCFC5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <input type="text" id="search-input" placeholder="Autour de quelle adresse ?">
        </div>
        <input type="submit" id="search-button" value="Rechercher">
      </form>
    </div>
    <div class="drawings">
      <svg id="tree-drawing" width="128" height="297" viewBox="0 0 128 297" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M61.1385 299.538H82.7091V248.706H61.1385V299.538Z" fill="#FFD07C"/>
        <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="16" y="145" width="112" height="111">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M16.6266 145.131H127.222V255.728H16.6266V145.131Z" fill="white"/>
        </mask>
        <g mask="url(#mask0)">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M127.222 200.429C127.222 230.969 102.465 255.728 71.9251 255.728C41.3839 255.728 16.6266 230.969 16.6266 200.429C16.6266 169.889 41.3839 145.131 71.9251 145.131C102.465 145.131 127.222 169.889 127.222 200.429Z" fill="#22693D"/>
        </g>
      </svg>
      <svg id="groves" width="301" height="76" viewBox="0 0 301 76" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M150.416 0V75.3446H75C75 33.7327 108.765 0 150.416 0Z" fill="#AEE9F9"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M75.4159 0V75.3446H0C0 33.7327 33.7653 0 75.4159 0Z" fill="#22693D"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M225.454 75.8055H300.909C300.909 33.939 267.127 0 225.454 0V75.8055ZM225.454 75.8057V0.000223981C183.782 0.000223981 150 33.9393 150 75.8057H225.454Z" fill="#FFD07C"/>
      </svg>
      <svg id="houses-birds" width="490" height="299" viewBox="0 0 490 299" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M183 299L109.95 156L36 299H183Z" fill="#22693D"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M183 203L109.95 60L36 203H183Z" fill="#22693D"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M163 299.538H310.289V158.013H163V299.538Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M318.027 299.538H546.435V197.874H318.027V299.538Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M204.869 299.538H268.42V222.517H204.869V299.538Z" fill="#FFD07C"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M421.445 299.538H443.017V261.028H421.445V299.538Z" fill="#FFD07C"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M163 157.978H310.289L236.644 56.6569L163 157.978Z" fill="#FFCFC5"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M374.848 128.163L317.652 197.875H432.044L374.848 128.163Z" fill="#FFCFC5"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M489.24 128.163L432.044 197.875H546.436L489.24 128.163Z" fill="#FFCFC5"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M401.744 239.078C401.744 253.932 389.702 265.974 374.848 265.974C359.994 265.974 347.952 253.932 347.952 239.078C347.952 224.224 359.994 212.182 374.848 212.182C389.702 212.182 401.744 224.224 401.744 239.078Z" fill="#AEE9F9"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M516.136 239.078C516.136 253.932 504.094 265.974 489.24 265.974C474.386 265.974 462.344 253.932 462.344 239.078C462.344 224.224 474.386 212.182 489.24 212.182C504.094 212.182 516.136 224.224 516.136 239.078Z" fill="#AEE9F9"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M128.685 229.258L116.728 234.793L125.309 242.185L128.685 229.258Z" fill="#FFD07C"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M93.3561 298.747H103L93.3561 288.954V298.747Z" fill="#FFD07C"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M103 288.954H74V259.508C74 243.245 86.9839 230.061 103 230.061C119.016 230.061 132 243.245 132 259.508C132 275.771 119.016 288.954 103 288.954Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M111.451 247.109C111.451 250.396 108.827 253.06 105.59 253.06C102.353 253.06 99.7294 250.396 99.7294 247.109C99.7294 243.822 102.353 241.158 105.59 241.158C108.827 241.158 111.451 243.822 111.451 247.109Z" fill="#18273A"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M54.6854 229.258L42.728 234.793L51.309 242.185L54.6854 229.258Z" fill="#FFD07C"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.3561 298.747H29.0001L19.3561 288.954V298.747Z" fill="#FFD07C"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M29 288.954H0V259.508C0 243.245 12.9839 230.061 29 230.061C45.0161 230.061 58 243.245 58 259.508C58 275.771 45.0161 288.954 29 288.954Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M37.451 247.109C37.451 250.396 34.827 253.06 31.5902 253.06C28.3534 253.06 25.7294 250.396 25.7294 247.109C25.7294 243.822 28.3534 241.158 31.5902 241.158C34.827 241.158 37.451 243.822 37.451 247.109Z" fill="#18273A"/>
      </svg>
    </div>
  </div>
  <div id="mini-banner">
    <h2>Woonies : un service entièrement gratuit pour les parents !</h2>
    <svg id="birds" width="80" height="43" viewBox="0 0 80 43" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M77.9998 0.158508L70.7841 3.55884L75.9623 8.09939L77.9998 0.158508Z" fill="#FFD07C"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M56.6804 42.8443H62.5001L56.6804 36.8289V42.8443Z" fill="#FFD07C"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M62.5 36.829H45V18.7405C45 8.75035 52.8351 0.651917 62.5 0.651917C72.1649 0.651917 80 8.75035 80 18.7405C80 28.7304 72.1649 36.829 62.5 36.829Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M67.5997 11.1241C67.5997 13.143 66.0163 14.7797 64.0631 14.7797C62.1098 14.7797 60.5264 13.143 60.5264 11.1241C60.5264 9.10498 62.1098 7.46844 64.0631 7.46844C66.0163 7.46844 67.5997 9.10498 67.5997 11.1241Z" fill="#18273A"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M32.6248 0.158508L25.4911 3.55884L30.6105 8.09939L32.6248 0.158508Z" fill="#FFD07C"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5477 42.8443H17.3012L11.5477 36.8289V42.8443Z" fill="#FFD07C"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M17.3011 36.829H0V18.7405C0 8.75035 7.74605 0.651917 17.3011 0.651917C26.8562 0.651917 34.6023 8.75035 34.6023 18.7405C34.6023 28.7304 26.8562 36.829 17.3011 36.829Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M22.3429 11.1241C22.3429 13.143 20.7775 14.7797 18.8464 14.7797C16.9154 14.7797 15.3499 13.143 15.3499 11.1241C15.3499 9.10498 16.9154 7.46844 18.8464 7.46844C20.7775 7.46844 22.3429 9.10498 22.3429 11.1241Z" fill="#18273A"/>
    </svg>
  </div>
</div>
