<div class="container-woonies">
  <%= render 'shared/navbar' %>
  <div id="banner-woonies">
    <div id="banner-woonies-elements">
      <h1>Trouvez votre mode d'accueil pour votre enfant !</h1>
      <p>Crèches, micro-crèches, haltes-garderies, assistant(e)s maternel(le)s.</p>
      <p id="p2-banner">Entrez une adresse autour de laquelle vous souhaitez recherche votre mode d’accueil.</p>
      <form action="" class="form-inline">
        <input type="text" id="search-input" placeholder="Entrez une adresse">
        <input type="submit" id="search-button" value="Rechercher">
      </form>
    </div>
  </div>
</div>
