<div class="container-woonies">
  <%= render 'shared/navbar' %>
  <div id="banner-woonies">
    <div id="banner-woonies-elements">
      <h1>Trouvez votre mode d'accueil pour votre enfant !</h1>
      <p>Crèches, micro-crèches, haltes-garderies, assistant(e)s maternel(le)s.</p>
      <p id="p2-banner">Entrez une adresse autour de laquelle vous souhaitez recherche votre mode d’accueil.</p>
      <form action="" class="form-inline banner-form">
        <div class="input-and-image">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.6802 17.9071C9.38923 18.2702 6.96231 17.5689 5.1967 15.8033C2.26777 12.8744 2.26777 8.12563 5.1967 5.1967C8.12563 2.26777 12.8744 2.26777 15.8033 5.1967C18.7322 8.12563 18.7322 12.8744 15.8033 15.8033V15.8033" stroke="#FFCFC5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M21 21L15.8 15.8" stroke="#FFCFC5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <input type="text" id="search-input" placeholder="Autour de quelle adresse ?">
        </div>
        <input type="submit" id="search-button" value="Rechercher">
      </form>
    </div>
  </div>
</div>
