#banner-woonies {
  background-color: $light-blue;
  width: 100%;
  height: 400px;
  h1 {
    font-size: 36px;
    font-weight: bold;
    color: $dark-blue;
    padding-top: 40px;
  }
  p {
    font-size: 16px;
    color: $grey;
    opacity: 0.8;
    margin: 15px 0 0 0;
  }
  #p2-banner {
    margin: 0;
  }
}

#banner-woonies-elements {
  padding-left: 150px;
}

.banner-form {
  margin-top: 15px;
}

#search-button {
  background-color: $light-pink;
  color: $dark-blue;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  padding: 10px;
}

#search-input {
  font-size: 16px;
  border-radius: 8px 0 0 8px;
  border: none;
  width: 570px;
}

.input-and-image {
  background-color: white;
  border-radius: 8px 0 0 8px;
  padding: 10px;
}

#tree-drawing {
  position: absolute;
  top: 168px;
}

#groves {
  position: absolute;
  left: 600px;
  top: 389px;
}

#houses-birds {
  position: absolute;
  right: 0;
  bottom: 221px;
}
