.navbar-woonies {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  background-color: $light-blue;
}

#logo-woonies {
  margin-top: 20px;
}
#pro-access {
  color: $dark-blue;
  text-decoration: none;
  border: 1px solid $dark-blue;
  border-radius: 8px;
  padding: 8px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}
